<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block custome sidebar collapse">
      <div class="position-sticky text-center">
        <img src="../../assets/logo.png" width="140" height="70" />
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10">
      <div class="col-md-12 text-center py-3">
        <h4>Prueba Técnica Full-Stack Developers</h4>
      </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 bg-light mb-3">
        <h3 class="h3 d-none d-sm-none d-md-block my-3">Productos</h3>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <form>
              <input class="form-control inputS" type="text" placeholder="Buscar productos" name="search" aria-label="Search" [(ngModel)]="searchText"/>
              <svg xmlns="http://www.w3.org/2000/svg" class="input-icon" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"/>
              </svg>
            </form>
            <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#agregarProducto">
              <b>+</b> Añadir producto
            </button>

            <div
              class="modal fade"
              id="agregarProducto"
              tabindex="-1"
              aria-labelledby="exampleModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                      Agregar Producto
                    </h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
                      <div class="form-group mb-3">
                        <label>Nombre : </label>
                        <input type="text" class="form-control my-2" id="nombre" [(ngModel)]="producto.nombre" name="nombre" required minlength="4" maxlength="30" placeholder="Nombre del producto" #nombre="ngModel"/>
                        <div
                          class="alert alert-danger" *ngIf=" nombre.invalid && (nombre.dirty || nombre.touched)">
                          <div *ngIf="nombre.errors.required">
                            Ingrese el nombre del producto
                          </div>
                          <div *ngIf="nombre.errors.minlength">
                            El nombre tiene que contener como minimo 4
                            caracteres
                          </div>
                          <div *ngIf="nombre.errors.maxlength">
                            El nombre tiene que tener como maximo 30 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Categoria : </label>
                        <input type="text" class="form-control my-2" id="categoria" [(ngModel)]="producto.categoria" name="categoria" required minlength="4" maxlength="30" placeholder="Categoria de producto" #categoria="ngModel"/>
                        <div class="alert alert-danger" *ngIf=" categoria.invalid && (categoria.dirty || categoria.touched)">
                          <div *ngIf="categoria.errors.required">
                            Ingrese la categoría del producto
                          </div>
                          <div *ngIf="categoria.errors.minlength">
                            La categoría tiene que contener como minimo 4
                            caracteres
                          </div>
                          <div *ngIf="categoria.errors.maxlength">
                            El nombre tiene que tener como maximo 30 caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Precio : </label>
                        <input type="text" class="form-control my-2" id="precio" [(ngModel)]="producto.precio" name="precio" required placeholder="Precio del producto"  #precio="ngModel"/>
                        <div class="alert alert-danger" *ngIf=" precio.invalid && (precio.dirty || precio.touched)">
                          <div *ngIf="precio.errors.required">
                            Ingrese el precio del producto
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Cantidad : </label>
                        <input type="text" class="form-control my-2"  id="cantidad" [(ngModel)]="producto.cantidad" name="cantidad" required placeholder="Cantidad" #cantidad="ngModel" />
                        <div class="alert alert-danger" *ngIf="cantidad.invalid && (cantidad.dirty || cantidad.touched)">
                          <div *ngIf="cantidad.errors.required">
                            Ingrese la cantidad del producto
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Inventario : </label>
                        <select class="form-select" aria-label="Default select example" id="inventario" [(ngModel)]="producto.inventario" name="inventario" required placeholder="Inventario" #inventario="ngModel">
                          <option value="En Stock">En Stock</option>
                          <option value="Limitado">Limitado</option>
                          <option value="Agotado">Agotado</option>
                        </select>
                        <div class="alert alert-danger" *ngIf=" inventario.invalid && (inventario.dirty || inventario.touched)">
                          <div *ngIf="inventario.errors.required">
                            Ingrese el estado del producto
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Descripción : </label>
                        <input type="text" class="form-control my-2" id="descripcion"[(ngModel)]="producto.descripcion" name="descripcion" required minlength="6" maxlength="60" placeholder="Descripción" #descripcion="ngModel"/>
                        <div class="alert alert-danger" *ngIf=" descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                          <div *ngIf="descripcion.errors.required">
                            Ingrese la descripción del producto
                          </div>
                          <div *ngIf="descripcion.errors.minlength">
                            La descripción tiene que contener como minimo 6
                            caracteres
                          </div>
                          <div *ngIf="descripcion.errors.maxlength">
                            La descripción tiene que tener como maximo 60
                            caracteres
                          </div>
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <label>Imagen : </label>
                        <input
                          type="file"
                          class="form-control my-2"
                          (change)="selectFiles($event)"
                          id="imagen"
                          [(ngModel)]="producto.imagen"
                          name="imagen"
                          required
                          #imagen="ngModel"
                        />
                        <div
                          class="alert alert-danger"
                          *ngIf="
                            imagen.invalid && (imagen.dirty || imagen.touched)
                          "
                        >
                          <div *ngIf="imagen.errors.required">
                            Ingrese una imagen
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Cerrar
                        </button>
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="!productForm.form.valid"
                        >
                          Guardar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive py-4">
        <h5 class="h5">Lista de Productos</h5>
        <table class="table table-sm">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Nombre</th>
              <th scope="col">Descripción</th>
              <th scope="col">Categoría</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Inventario</th>
              <th scope="col">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productos | filter: searchText">
              <td>
                <img class="rounded-3"
                  src="http://localhost:8080/uploads/{{ producto.imagen }}"
                  alt=""
                  width="60px"
                />
              </td>
              <td class="pt-4">{{ producto.nombre }}</td>
              <td class="pt-4">{{ producto.descripcion }}</td>
              <td class="pt-4">{{ producto.categoria }}</td>
              <td class="pt-4">{{ producto.precio }}</td>
              <td class="pt-4">{{ producto.cantidad }}</td>
              <td class="pt-4">
                <div *ngIf="producto.inventario=='En Stock'">
                  <p class="fuente-2" style="color: green;"><i class="bi bi-circle-fill mx-2" style="font-size: 8px;"></i>{{producto.inventario}}</p>
                </div> 
                <div *ngIf="producto.inventario=='Limitado'">
                  <p class="fuente-2" style="color: rgb(255, 136, 0);"><i class="bi bi-circle-fill mx-2" style="font-size: 8px;"></i>{{producto.inventario}}</p>
                </div> 
                <div *ngIf="producto.inventario=='Agotado'">
                  <p class="fuente-2" style="color: red;"><i class="bi bi-circle-fill mx-2" style="font-size: 8px;"></i>{{producto.inventario}}</p>
                </div> 
              </td>
              <td class="pt-4">
                <button type="button" class="btn"(click)="actualizarProducto(producto.id)">
                  <i class="bi bi-pencil-square"></i>
                </button>
                <button class="btn" (click)="eliminarProducto(producto.id)">
                  <i class="bi bi-trash3"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
