body {
    height: 100%;
    background-color: #0c2556;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .box {
    max-width: 480px;
    padding: 15px;
  }
  
  .box .form-floating:focus-within {
    z-index: 2;
  }
  
  .box input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .box input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }